<%- include("../partials/header") %>
<div class="container">
  <div class="row">

    <div class ="col-md-12"> 

      <h1>this is show page</h1>
     
<!--       <div class="img-fluid img-thumbnail">
        
        <img class="rectify" src="/uploads/<%= entertainment.image %>">
        <div class="caption-full">
          <h4 class="float-right"><%=entertainment.price%>$/collection</h4>
          <h3 ><a><%= entertainment.name %></a></h3>
        </div>  
        <p><%= entertainment.description %></p>
        <p>
          <em>submitted by:<a href="/users/<%= entertainment.author.id %>"><%= entertainment.author.firstname + entertainment.author.lastname %></a>,<%= moment(entertainment.createdAt).fromNow()%></em>
        </p>
        <div class="text-center" >
          <% if(currentUser && entertainment.author.id.equals(currentUser._id) || currentUser && currentUser.username === "raghu1016") { %> 
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <a  href="/entertainment/<%= entertainment._id%>/edit %>" style="margin:10px auto;" class="btn btn-info btn-sm">edit</a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="second group">
              <form action="/entertainment/<%= entertainment._id %>?_method=delete" method="POST">
                <button style="margin:20px auto;" type="submit" class="btn btn-danger btn-sm">delete</button>
              </form>
            </div>
          <% } %>          
          <p>
            <a href="/entertainment">go back</a>
          </p>

        </div>

      </div> -->

        <div class="card mb-3">
        
        <img class="rectify" src="/uploads/<%= entertainment.image %>" class="card-img-top" alt="<%= entertainment.name %>">
        <div class="card-body">
          <h5 class="float-right"><%=entertainment.price%>$/collection</h5>
          <h4 class="card-title" ><a><%= entertainment.name %></a></h4> 
        <p>
          <em>submitted by:<a href="/users/<%= entertainment.author.id %>"><%= entertainment.author.firstname + entertainment.author.lastname %></a>,<%= moment(entertainment.createdAt).fromNow()%></em>
        </p> 
        <hr>
        <p class="card-text"><%= entertainment.description %></p>
        </div> 
        <div class="text-center" >
          <% if(currentUser && entertainment.author.id.equals(currentUser._id) || currentUser && currentUser.username === "raghu1016") { %> 
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <a  href="/entertainment/<%= entertainment._id%>/edit %>" style="margin:10px auto;" class="btn btn-info btn-sm">edit</a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="second group">
              <form id="delete-form" action="/entertainment/<%= entertainment._id %>?_method=delete" method="POST">
                <button style="margin:20px auto;" type="submit" class="btn btn-danger btn-sm">delete</button>
              </form>
            </div>
          <% } %>          
          <p>
            <a href="/entertainment">go back</a>
          </p>
        </div>

      </div>

<!--       <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> -->



        <div class="card card-body card shadow" id="scroll" style="background-color:  #D3D3D3; margin-top: 1.0em; border-color:  #D3D3D3;">
          <div class="text-center">
            <!-- <a class="btn btn-success" href="/entertainment/<%= entertainment._id %>/comments/new">Add a new comment</a> -->
            <h1>Comments<h1>
          </div>
          <hr>
          <div class="comnt">
            <% entertainment.comments.forEach(function(comment){ %>
              <div class="row">
                <div class="col-md-12">
                  <strong class="username"><%= comment.author.username %></strong> 
                  <span class="float-right badge badge-pill badge-dark"><%= moment(comment.createdAt).utcOffset("+05:30").fromNow() %></span>
                  <p class="mb-0">
                    <%= comment.message %>
                    <span class="float-right badge badge-pill badge-dark"><%= moment(comment.createdAt).utcOffset("+05:30").format('MMMM Do YYYY, h:mm:ss a') %></span>
                  </p>
                  <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.username === "raghu1016" ) { %>
                    <a class="btn btn-dark btn-sm" href="/entertainment/<%=entertainment._id %>/comments/<%= comment._id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <form id="delete-comment" action="/entertainment/<%= entertainment._id %>/comments/<%= comment._id %>?_method=delete" method="POST">
                      <button class="btn btn-danger btn-sm" aria-label="Delete">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    <!-- <input type="submit" class="btn btn-danger btn-sm" value="<i class="fa fa-pencil-square" aria-hidden="true"></i>"> -->
                     </form>
                  <% } %>
                  <hr>
                </div>
              </div>
            <% })%>
          </div>
          <div class="text-right">
            <form action="/entertainment/<%=entertainment._id%>/comments" method="POST" onsubmit="setTimeout(doComment(this),5000)">
              <div class="input-group container mt-2" style="width: 90%;">
                <input type="hidden" id="comment_id" name="comment_id" value="<%=entertainment._id%>">
                <input type="hidden" id="user_name" name="user_name" value="<%=currentUser.username %>">
                <input class="form-control" id="message" type="text" name="message" placeholder="enter comment here .....">
                  <span class="input-group-prepend">
                    <button class="btn btn-light" onclick="setTimeout(web, 1000);"><i class="fa fa-paper-plane"></i></button>
                  </span> 
              </div>     
           </form>
          </div> 
        </div>
        <div class="d-flex justify-content-center"><a style="text-allign: center;" href="/entertainment/<%=entertainment._id%>">go back</a>
        </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %> 

<script>
var scroll = document.getElementById('scroll');
scroll.scrollTop = scroll.scrollHeight;
$("#delete-form").click(function(){
    if (!confirm("Do you want to delete blog post?")){
      return false;
    }
  });
$("#delete-comment").click(function(){
    if (!confirm("Do you want to delete blog comment?")){
      return false;
    }
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/comment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>


